<a href="https://colab.research.google.com/github/lacymelo/commerce/blob/main/execicio_limpeza_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [61]:
# importação das bibliotecas
import pandas as pd
import seaborn as srn
import statistics as sts
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import confusion_matrix,accuracy_score
from sklearn.svm import SVC
from sklearn.ensemble import ExtraTreesClassifier

In [62]:
data = pd.read_csv('/content/drive/MyDrive/disciplina_data_mining_big/datasets/breast-cancer-wisconsin.data')
data.head()

   1000025  5   1  1.1  1.2  2 1.3  3  1.4  1.5  2.1
0  1002945  5   4    4    5  7  10  3    2    1    2
1  1015425  3   1    1    1  2   2  3    1    1    2
2  1016277  6   8    8    1  3   4  3    7    1    2
3  1017023  4   1    1    3  2   1  3    1    1    2
4  1017122  8  10   10    8  7  10  9    7    1    4

In [63]:
# renomeando as colunas
data.columns = ['Sample code', 'Clump Thickness', 'Uniformity of Cell Size', 'Uniformity of Cell Shape',
                'Marginal Adhesion', 'Single Epithelial Cell Size', 'Bare Nuclei', 'Bland Chromatin',
                'Normal Nucleoli', 'Mitoses','Class']

In [64]:
data.head()

,Sample code,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1002945,5,4,4,5,7,10,3,2,1,2
1,1015425,3,1,1,1,2,2,3,1,1,2
2,1016277,6,8,8,1,3,4,3,7,1,2
3,1017023,4,1,1,3,2,1,3,1,1,2
4,1017122,8,10,10,8,7,10,9,7,1,4

In [65]:
# verificando se existe linhas com atributos faltantes
data.isnull().sum()

Sample code                    0
Clump Thickness                0
Uniformity of Cell Size        0
Uniformity of Cell Shape       0
Marginal Adhesion              0
Single Epithelial Cell Size    0
Bare Nuclei                    0
Bland Chromatin                0
Normal Nucleoli                0
Mitoses                        0
Class                          0
dtype: int64

In [86]:
df = data.drop(['Sample code'], axis=1)

df

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,5,4,4,5,7,10,3,2,1,2
1,3,1,1,1,2,2,3,1,1,2
2,6,8,8,1,3,4,3,7,1,2
3,4,1,1,3,2,1,3,1,1,2
4,8,10,10,8,7,10,9,7,1,4
...,...,...,...,...,...,...,...,...,...,...
693,3,1,1,1,3,2,1,1,1,2
694,2,1,1,1,2,1,1,1,1,2
695,5,10,10,3,7,3,8,10,2,4
696,4,8,6,4,3,4,10,6,1,4
697,4,8,8,5,4,5,10,4,1,4

In [ ]:
# acessando os previsores
previsores=df.iloc[:,0:9].values
# acessando as classes de saida
classe = df.iloc[:,9].values

classe

In [89]:
labelencoder = LabelEncoder()
previsores[:, 1]=labelencoder.fit_transform(previsores[:, 1])
previsores[:, 2]=labelencoder.fit_transform(previsores[:, 2])
previsores[:, 3]=labelencoder.fit_transform(previsores[:, 3])
previsores[:, 4]=labelencoder.fit_transform(previsores[:, 4])
previsores[:, 5]=labelencoder.fit_transform(previsores[:, 5])
previsores[:, 6]=labelencoder.fit_transform(previsores[:, 6])
previsores[:, 7]=labelencoder.fit_transform(previsores[:, 7])
previsores[:, 8]=labelencoder.fit_transform(previsores[:, 8])

previsores

array([[5, 3, 3, ..., 2, 1, 0],
       [3, 0, 0, ..., 2, 0, 0],
       [6, 7, 7, ..., 2, 6, 0],
       ...,
       [5, 9, 9, ..., 7, 9, 1],
       [4, 7, 5, ..., 9, 5, 0],
       [4, 7, 7, ..., 9, 3, 0]], dtype=object)

In [90]:
X_treinamento, X_teste, y_treinamento, y_teste = train_test_split(previsores,
                                                 classe,
                                                 test_size= 0.3,
                                                 random_state= 1)

In [91]:
svm=SVC()
svm.fit(X_treinamento,y_treinamento)

SVC()

In [93]:
previsao=svm.predict(X_teste)
previsao

array([2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 2, 2, 2, 2, 4, 2, 2, 2, 2, 2, 2, 2,
       4, 2, 4, 2, 2, 4, 2, 2, 2, 4, 2, 4, 4, 2, 2, 2, 2, 4, 2, 2, 4, 2,
       2, 4, 4, 2, 2, 4, 2, 2, 2, 2, 2, 2, 2, 2, 4, 2, 2, 4, 4, 2, 2, 2,
       2, 4, 2, 2, 2, 2, 4, 4, 2, 2, 2, 2, 4, 2, 4, 4, 2, 2, 2, 2, 4, 4,
       4, 2, 4, 2, 4, 2, 2, 2, 4, 2, 2, 2, 2, 2, 4, 2, 4, 4, 2, 2, 4, 2,
       2, 2, 2, 2, 2, 4, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 2, 2, 4, 4, 2, 2,
       4, 2, 4, 4, 2, 2, 4, 2, 4, 2, 4, 2, 4, 2, 4, 4, 2, 2, 4, 2, 2, 4,
       4, 2, 4, 4, 4, 2, 4, 4, 4, 2, 2, 4, 2, 2, 2, 2, 4, 2, 4, 2, 2, 4,
       4, 4, 2, 4, 4, 2, 2, 2, 2, 2, 4, 2, 4, 2, 4, 2, 2, 4, 2, 2, 4, 2,
       2, 4, 2, 4, 2, 2, 2, 2, 4, 2, 4, 2])

In [94]:
taxaAcerto=accuracy_score(y_teste,previsao)
taxaAcerto

0.9666666666666667